.focused {
  outline: 2px solid Highlight;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .focused {
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.newFocused {
  box-shadow:
    0 0 0 2px var(--always-white),
    0 0 0 4px var(--base-blue);
  outline: none;
}

@media (forced-colors: active) {
  .newFocused {
    outline: transparent auto 2px !important;
  }
}

.newFocusedInset {
  box-shadow:
    inset 0 0 0 2px var(--base-blue),
    inset 0 0 0 4px var(--always-white);
  outline: none;
}

.newFocusedLink {
  outline: var(--base-blue) auto 2px;
}

.unfocused {
  outline: none;
}