._55lt img {
  display: block
}

._55lu {
  box-sizing: border-box;
  float: left;
  overflow: hidden
}

._57pl {
  border-right: 1px solid #fff
}

._57pm {
  border-bottom: 1px solid #fff
}

._57xo {
  border-left: 1px solid #fff
}

._39jy ._55lt {
  border-radius: 50%;
  overflow: hidden
}

._4ki>li {
  border-width: 0 0 0 1px;
  display: inline-block
}

._4kg>li {
  border-width: 1px 0 0 0
}

._509->li {
  vertical-align: top
}

._509_>li {
  vertical-align: middle
}

._50a0>li {
  vertical-align: bottom
}

.uiList>li:first-child {
  border-width: 0
}

._4ks>li {
  border-color: #ebedf0;
  border-style: solid
}

._4kt>li {
  border-color: #ccc;
  border-style: solid
}

._4ku>li {
  border-color: #aaa;
  border-style: solid
}

._4of {
  color: #365899;
  list-style-type: square;
  margin-left: 12px
}

._7lda {
  list-style-type: disc;
  margin-left: 16px
}

._7lda>._7ldb {
  text-indent: -2px
}

._4ki._703>li {
  padding-left: 20px;
  padding-right: 20px
}

._4ki._704>li {
  padding-left: 5px;
  padding-right: 5px
}

._4ki._6-j>li {
  padding-left: 10px;
  padding-right: 10px
}

._4ki._6-i>li {
  padding-right: 0
}

._4kg._704>li {
  padding-top: 5px;
  padding-bottom: 5px
}

._4kg._6-j>li {
  padding-top: 10px;
  padding-bottom: 10px
}

._4kg._703>li {
  padding-top: 20px;
  padding-bottom: 20px
}

._4kg._6-i>li {
  padding-bottom: 0
}

._4kg._6-h>li:first-child {
  padding-top: 0
}

._4kg._6-h>li:last-child {
  padding-bottom: 0
}

._4ki._6-h>li:first-child {
  padding-left: 0
}

._4ki._6-h>li:last-child {
  padding-right: 0
}

._4u-c {
  position: relative
}

._42ft {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap
}

._42ft:hover {
  text-decoration: none
}

._42ft+._42ft {
  margin-left: 4px
}

._42fr, ._42fs {
  cursor: default
}

._afhc {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

._50zz {
  height: 10px;
  width: 10px
}

._50zz._50z- {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -170px
}

._50zz._50z-:hover {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -192px
}

._50zz._50z-:active, ._50zz._42fs {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -181px
}

._50zz._50z_ {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -203px
}

._50zz._50z_:hover {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -214px
}

._50-0 {
  height: 12px;
  width: 12px
}

._50-0._50z- {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -105px
}

._50-0._50z-:hover {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -131px
}

._50-0._50z-:active, ._50-0._42fs {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -118px
}

._50-0._50z_ {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -144px
}

._50-0._50z_:hover {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -157px
}

._50-1 {
  height: 20px;
  width: 20px
}

._50-1._50z- {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -21px
}

._50-1._50z-:hover {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -63px
}

._50-1._50z-:active, ._50-1._42fs {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -63px
}

._50-1._50z_ {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -42px
}

._50-1._50z_:hover {
  background-image: url(/assets/workplace/8X0c6ic_zd6.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -84px
}

._8k_v._50zy._50-1 {
  background-image: url(/assets/workplace/XcPIROjSoOw.png);
  background-position: unset;
  background-size: 24px 24px;
  height: 24px;
  width: 24px
}

._9l19 ._50zy {
  display: none
}

._5upp {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  font-size: 0 !important;
  overflow: hidden;
  padding: 0;
  vertical-align: middle
}

.highContrast ._5upp {
  font-size: 11px !important;
  height: auto;
  width: auto
}

._47e3, ._4ay8 {
  line-height: 0;
  vertical-align: middle
}

._4ay8 {
  font-style: normal !important;
  font-weight: normal !important
}

._4ay8._3kkw {
  font-size: 16px
}

._4ay8._366d {
  font-size: 18px
}

._4ay8._366e {
  font-size: 20px
}

._4ay8._48cb {
  font-size: 24px
}

._4ay8._5-0n {
  font-size: 28px
}

._4ay8._5-0o {
  font-size: 30px
}

._4ay8._5-0p {
  font-size: 32px
}

._4ay8._2oah {
  font-size: 36px
}

._4ay8._4352 {
  font-size: 56px
}

._4ay8._435o {
  font-size: 112px
}

span._47e3 .img {
  vertical-align: -3px
}

i._47e3 {
  display: inline-block;
  vertical-align: top
}

i._47e3._3kkw {
  background-size: 16px 16px;
  height: 16px;
  width: 16px
}

i._47e3._366d {
  background-size: 18px 18px;
  height: 18px;
  width: 18px
}

i._47e3._366e {
  background-size: 20px 20px;
  height: 20px;
  width: 20px
}

i._47e3._48cb {
  background-size: 24px 24px;
  height: 24px;
  width: 24px
}

._1gwo:before, span._47e3:before {
  clip: rect(1px, 1px, 1px, 1px);
  content: attr(title), '';
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

._skr, ._7oe {
  display: inline;
  font-size: 0;
  width: 0
}

._5mfr {
  margin: 0 1px
}

._6qdm {
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  display: inline-block;
  text-decoration: none;
  text-shadow: none;
  vertical-align: text-bottom
}

._6qdm::selection {
  background-color: highlight;
  color: transparent
}

._6qdm._6qdm .pun {
  color: transparent
}

._7c4h {
  display: inline-block;
  position: relative
}

._7c4l {
  display: block;
  left: 0;
  position: absolute;
  top: 0
}

._4jnw {
  margin: 0
}

._3-8h {
  margin: 4px
}

._3-8i {
  margin: 8px
}

._3-8j {
  margin: 12px
}

._3-8k {
  margin: 16px
}

._3-8l {
  margin: 20px
}

._2-5b {
  margin: 24px
}

._1kbd {
  margin-bottom: 0;
  margin-top: 0
}

._3-8m {
  margin-bottom: 4px;
  margin-top: 4px
}

._3-8n {
  margin-bottom: 8px;
  margin-top: 8px
}

._3-8o {
  margin-bottom: 12px;
  margin-top: 12px
}

._3-8p {
  margin-bottom: 16px;
  margin-top: 16px
}

._3-8q {
  margin-bottom: 20px;
  margin-top: 20px
}

._2-ox {
  margin-bottom: 24px;
  margin-top: 24px
}

._1a4i {
  margin-left: 0;
  margin-right: 0
}

._3-8r {
  margin-left: 4px;
  margin-right: 4px
}

._3-8s {
  margin-left: 8px;
  margin-right: 8px
}

._3-8t {
  margin-left: 12px;
  margin-right: 12px
}

._3-8u {
  margin-left: 16px;
  margin-right: 16px
}

._3-8v {
  margin-left: 20px;
  margin-right: 20px
}

._6bu9 {
  margin-left: 24px;
  margin-right: 24px
}

._5soe {
  margin-top: 0
}

._3-8w {
  margin-top: 4px
}

._3-8x {
  margin-top: 8px
}

._3-8y {
  margin-top: 12px
}

._3-8z {
  margin-top: 16px
}

._3-8- {
  margin-top: 20px
}

._4aws {
  margin-top: 24px
}

._2-jz {
  margin-right: 0
}

._3-8_ {
  margin-right: 4px
}

._3-90 {
  margin-right: 8px
}

._3-91 {
  margin-right: 12px
}

._3-92 {
  margin-right: 16px
}

._3-93 {
  margin-right: 20px
}

._y8t {
  margin-right: 24px
}

._5emk {
  margin-bottom: 0
}

._3-94 {
  margin-bottom: 4px
}

._3-95 {
  margin-bottom: 8px
}

._3-96 {
  margin-bottom: 12px
}

._3-97 {
  margin-bottom: 16px
}

._3-98 {
  margin-bottom: 20px
}

._20nr {
  margin-bottom: 24px
}

._av_ {
  margin-left: 0
}

._3-99 {
  margin-left: 4px
}

._3-9a {
  margin-left: 8px
}

._3-9b {
  margin-left: 12px
}

._3-9c {
  margin-left: 16px
}

._3-9d {
  margin-left: 20px
}

._4m0t {
  margin-left: 24px
}

._a82f {
  margin-left: 28px
}

/*FB_PKG_DELIM*/
._z8p {
  position: relative
}

._z8p:before {
  border: 2px solid #2887e6;
  border-radius: 3px;
  bottom: -4px;
  content: '';
  left: -4px;
  pointer-events: none;
  position: absolute;
  right: -4px;
  top: -4px;
  z-index: 2
}

._3bww, ._3bwv {
  height: 100%;
  width: 100%
}

._3bwv {
  display: table
}

._3bwv>._3bwy {
  display: table-cell;
  vertical-align: middle
}

._3bww>._3bwy>._3bwx {
  display: table;
  margin: 0 auto
}

._5bpf {
  height: 100%
}

._3bww>._3bwy>._2qgx {
  width: 700px
}

._4-h7, ._2mo4 {
  display: inline;
  padding: 4px 6px 4px 4px
}

._1tm3 ._4-h7:hover, ._1tm3 ._2mo4:hover {
  background-color: #f5f6f7;
  border-radius: 2px
}

._1tm3 ._5qtn:hover {
  background-color: inherit;
  text-decoration: none
}

._4-fs {
  display: inline-block;
  padding-left: 21px;
  position: relative
}

._776n ._4-fs {
  padding-left: 0
}

._5qto {
  left: 0;
  position: absolute;
  top: -1px;
  vertical-align: middle
}

._5qtp {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px
}

._1kvc ._5qtp {
  max-width: 118px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

._1fu5._1kvc ._5qtp {
  max-width: 78px
}

._5qtn:hover {
  text-decoration: none
}

._5qtn ._5qtp {
  color: #4b4f56
}

._4-h8 {
  border-bottom: 8px solid #ebedf0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: -9px;
  display: none;
  font-size: 0;
  height: 0;
  left: 50%;
  line-height: 0;
  position: absolute;
  width: 0
}

._4-h8::after {
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: '';
  left: -8px;
  position: absolute;
  top: 1px
}

._5qtn ._4-h8 {
  display: block
}

._76ge ._4-h8 {
  display: none
}

._53ij {
  background: #fff;
  background: var(--card-background, #FFFFFF);
  position: relative
}

._53io {
  overflow: hidden;
  position: absolute
}

._53ih ._53io {
  display: none
}

._58z_ {
  position: relative
}

._58-8 {
  border-color: #EBEDF0 #dfe0e4 #d0d1d5;
  border-width: 1px
}

._58-8._58zo {
  background: #fff
}

._58zp {
  background-color: rgba(255, 255, 255, .8);
  border-color: rgba(229, 230, 233, .8), rgba(223, 224, 228, .8), rgba(208, 209, 213, .8);
  box-sizing: border-box;
  color: rgba(75, 79, 86, .8);
  z-index: 1
}

._58-8 ._58-6 {
  background: #f5f6f7
}

._58-9 {
  border: 1px dashed #3578e5;
  border-radius: 3px;
  box-sizing: border-box;
  height: 28px
}

._58zl::before {
  content: url(/assets/workplace/dgirYho5BL8.png)
}

._58zl {
  padding: 6px
}

._58z_ ._58zm {
  background-clip: content-box;
  background-origin: content-box;
  box-sizing: content-box;
  margin: -1px -1px -1px 0;
  padding: 9px 9px 9px 4px
}

._58zn {
  box-sizing: border-box;
  cursor: grab;
  margin: -1px 0 -1px 1px;
  right: 25px
}

._58zp ._58zn {
  cursor: grabbing
}

._53ip ._53iv {
  padding: 15px
}

._53ip ._53ij {
  border: 1px solid #8c8c8c;
  border: 1px solid rgba(0, 0, 0, .45);
  border-bottom: 1px solid #666;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3)
}

._53ip ._572u {
  padding: 6px 7px 6px 8px
}

._53ip ._5v-0 {
  padding-bottom: 10px
}

._53ip ._53il {
  padding-top: 10px
}

._53ip ._53im {
  padding-right: 10px
}

._53ip ._53ik {
  padding-bottom: 10px
}

._53ip ._53in {
  padding-left: 10px
}

._53ip ._53il ._53io {
  background-image: url(/assets/workplace/46BlDpLD5_n.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -17px -343px;
  height: 9px;
  top: 2px;
  width: 16px
}

._53ip ._53im ._53io {
  background-image: url(/assets/workplace/46BlDpLD5_n.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -102px -326px;
  height: 16px;
  right: 2px;
  width: 9px
}

._53ip ._53ik ._53io {
  background-image: url(/assets/workplace/46BlDpLD5_n.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -112px -326px;
  bottom: 2px;
  height: 9px;
  width: 16px
}

._53ip ._53ik._kc ._53io {
  background-image: url(/assets/workplace/46BlDpLD5_n.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -343px
}

._53ip ._53in ._53io {
  background-image: url(/assets/workplace/46BlDpLD5_n.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -113px -217px;
  height: 16px;
  left: 2px;
  width: 9px
}

.uiContextualDialogFooterLink {
  background: #f5f6f7;
  border-top: 1px solid #e0e0e0;
  display: block;
  font-weight: bold;
  padding: 7px;
  text-align: center
}

.uiContextualDialogFooterLink:hover {
  background: #6d84b4;
  border-color: #365899;
  color: #fff;
  text-decoration: none
}

._36gl {
  position: absolute;
  right: 12px;
  top: 14px
}

._21es {
  background: #3578e5;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  padding: 10px 34px 12px 10px;
  position: relative
}

._6dh- ._21es {
  background: #373737
}

._izg {
  padding-right: 10px
}

._2x6q ._53ij {
  background-color: transparent
}

._2x6q ._5v-0, ._2x6q ._53ik {
  padding-bottom: 13px
}

._2x6q ._53il {
  padding-top: 13px
}

._2x6q ._53im {
  padding-right: 13px
}

._2x6q ._53in {
  padding-left: 13px
}

._2x6q ._53il ._53io {
  border-bottom: 9px solid #3578e5;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: 4px
}

._2x6q._6dh- ._53il ._53io {
  border-bottom-color: #373737
}

._2x6q ._53ik ._53io {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #3578e5;
  bottom: 4px
}

._2x6q._6dh- ._53ik ._53io {
  border-top-color: #373737
}

._2x6q ._53in ._53io {
  border-bottom: 9px solid transparent;
  border-right: 9px solid #3578e5;
  border-top: 9px solid transparent;
  left: 4px
}

._2x6q._6dh- ._53in ._53io {
  border-right-color: #373737
}

._2x6q ._53im ._53io {
  border-bottom: 9px solid transparent;
  border-left: 9px solid #3578e5;
  border-top: 9px solid transparent;
  right: 4px
}

._2x6q._6dh- ._53im ._53io {
  border-left-color: #373737
}

.__xn, .__xn a {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-shadow: 0 0 2px rgba(0, 0, 0, .3)
}

._8wpp {
  background-color: var(--fds-white-text);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--fds-highlight);
  display: inline-block;
  margin: 0 2px;
  min-width: 28px;
  padding: 0 5px;
  text-align: center;
  text-shadow: none
}

.__xn a {
  text-decoration: underline
}

._7fur {
  position: relative
}

._7fur ._58-8._58zo {
  background: none
}

._7fur ._58zn {
  right: 40px
}

._7fur ._58zo ._58zn {
  cursor: grab
}

._7fur ._58zo._58zp ._58zn {
  cursor: grabbing
}

._7fur ._58zl {
  display: none
}

._23n- {
  position: relative
}

._32rk {
  position: absolute
}

._32rk._32rg {
  left: 0
}

._32rk._32rh {
  right: 0
}

._32rk._1cy5 {
  left: 50%;
  transform: translateX(-50%)
}

._32rk._9ppc {
  right: 100%
}

._32rk._32ri {
  top: 0
}

._32rk._32rj {
  bottom: 0
}

._32rk._1cy6 {
  top: 50%;
  transform: translateY(-50%)
}

._32rk._1cy5._1cy6 {
  transform: translate(-50%, -50%)
}