.uiList>li:first-child {
  border-width: 0;
}

._4kg>li {
  border-width: 1px 0 0 0;
}

._4kg._704>li {
  padding-top: 5px;
  padding-bottom: 5px;
}

._4kg._6-j>li {
  padding-top: 10px;
  padding-bottom: 10px;
}

._4kg._703>li {
  padding-top: 20px;
  padding-bottom: 20px;
}

._4kg._6-i>li {
  padding-bottom: 0;
}

._4kg._6-h>li:first-child {
  padding-top: 0;
}

._4kg._6-h>li:last-child {
  padding-bottom: 0;
}

/*  */


._4ki>li {
  border-width: 0 0 0 1px;
  display: inline-block;
}

._4ki._703>li {
  padding-left: 20px;
  padding-right: 20px;
}

._4ki._704>li {
  padding-left: 5px;
  padding-right: 5px;
}

._4ki._6-j>li {
  padding-left: 10px;
  padding-right: 10px;
}

._4ki._6-i>li {
  padding-right: 0;
}

._4ki._6-h>li:first-child {
  padding-left: 0;
}

._4ki._6-h>li:last-child {
  padding-right: 0;
}

/*  */

._509->li {
  vertical-align: top;
}

/*  */

._509_>li {
  vertical-align: middle;
}

/*  */

._50a0>li {
  vertical-align: bottom;
}

/*  */

._4ks>li {
  border-color: #ebedf0;
  border-style: solid;
}

/*  */

._4kt>li {
  border-color: #ccc;
  border-style: solid;
}

/*  */

._4ku>li {
  border-color: #aaa;
  border-style: solid;
}