*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#portal .system-fonts--body div {
  font-family: inherit;
}

#portal .system-fonts--body span {
  font-family: inherit;
}

#portal .system-fonts--body a {
  font-family: inherit;
}

#portal .system-fonts--body h1,
#portal .system-fonts--body h2,
#portal .system-fonts--body h3,
#portal .system-fonts--body h4,
#portal .system-fonts--body h5,
#portal .system-fonts--body h6,
#portal .system-fonts--body p {
  font-family: inherit;
}

#portal .system-fonts--body button,
#portal .system-fonts--body input,
#portal .system-fonts--body label,
#portal .system-fonts--body select,
#portal .system-fonts--body td,
#portal .system-fonts--body textarea {
  font-family: inherit;
}

#portal .system-fonts--body code,
#portal .system-fonts--body pre {
  font-family: Menlo, Consolas, Monaco, monospace;
}

#portal .system-fonts--body .fixemoji {
  font-weight: 600;
}

@font-face {
  font-family: 'Fix for Mac Chrome 80';
  font-weight: 500;
  src: local('Lucida Grande');
  unicode-range: U+530-5f4, U+10a0-10ff;
}

#portal .system-fonts--macChrome80.sf {
  font-family:
    'Fix for Mac Chrome 80',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    '.SFNSText-Regular',
    sans-serif;
}

form {
  margin: 0;
  padding: 0;
}

label {
  color: #606770;
  cursor: default;
  font-weight: 600;
  vertical-align: middle;
}

label input {
  font-weight: normal;
}

textarea,
.inputtext,
.inputpassword {
  -webkit-appearance: none;
  border: 1px solid #ccd0d5;
  border-radius: 0;
  margin: 0;
  padding: 3px;
}

textarea {
  max-width: 100%;
}

select {
  border: 1px solid #ccd0d5;
  padding: 2px;
}

input,
select,
textarea {
  background-color: #fff;
  color: #1c1e21;
}

html {
  touch-action: manipulation;
}

body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}

body,
button,
input,
label,
select,
td,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1e21;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 14px;
}

h4,
h5,
h6 {
  font-size: 12px;
}

p {
  margin: 1em 0;
}

b,
strong {
  font-weight: 600;
}

a {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

button {
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

td,
td.label {
  text-align: left;
}

dd {
  color: #000;
}

dt {
  color: #606770;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

abbr {
  border-bottom: none;
  text-decoration: none;
}

hr {
  background: #dadde1;
  border-width: 0;
  color: #dadde1;
  height: 1px;
}

/* 
 */

.apple {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-apple);
}

.default {
  font-family: var(--font-family-default);
}

.segoe {
  font-family: var(--font-family-segoe);
}

/*  */

.body-custom,
.app-custom {
  background-color: var(--web-wash) !important;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}

.focused {
  outline: 2px solid Highlight;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .focused {
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.newFocused {
  box-shadow:
    0 0 0 2px var(--always-white),
    0 0 0 4px var(--base-blue);
  outline: none;
}

@media (forced-colors: active) {
  .newFocused {
    outline: transparent auto 2px !important;
  }
}

.newFocusedInset {
  box-shadow:
    inset 0 0 0 2px var(--base-blue),
    inset 0 0 0 4px var(--always-white);
  outline: none;
}

.newFocusedLink {
  outline: var(--base-blue) auto 2px;
}

.unfocused {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: #eaeaea;

  border-radius: 6px;
}


.xcza8v6 {
  color: var(--secondary-icon);
}

.x2h7rmj {
  transition-property: color, fill, stroke;
}

.x1qfuztq {
  transition-timing-function: var(--fds-soft);
}

.x1lliihq {
  display: block;
}

.x1k90msu {
  transition-duration: var(--fds-fast);
}